@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* nav section styling */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(40px);
    margin: 10px 100px;
}
.hero-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.hero-logo img{
    width: 70%;
    height: 70%;
}
.hero-nav li{
    list-style: none;
    padding: 10px;
}
.hero-nav .signin{
    margin-left: 30px;
}
.hero-nav a{
    text-decoration: none;
    font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 30px;
color: #0F0F0F;
cursor: pointer;
}
.hero-nav a:hover{
    color: #FF5F00;
}
.herobtn1{
    background: linear-gradient(134deg, #EB001B -43.28%, #F79E1B 97%);
    border-radius: 5px;
    padding: 5px 15px;
    border: 2px solid #FF5F00;
    cursor: pointer;
}
.herobtn1 a{
    color: #FFFFFF;
}
.herobtn1 a:hover{
    color: #FFFFFF;
}
.herobtn1:hover{
    background: #FF5F00;
box-shadow: 0px 6px 25px rgba(255, 95, 0, 0.4);
border-radius: 5px;
color: #FFFFFF;
}


/* hero landing section styling */
.hero-landing{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 100px;
}
.hero-landing-content{
width: 55%;
}
h1{
    font-style: normal;
font-weight: 800;
font-size: 3.5rem;
line-height: 70px;
color: #0F0F0F;
margin-bottom: 20px;
}
p{
    font-style: normal;
font-weight: 400;
font-size: 1.4rem;
line-height: 30px;
color: #0F0F0F;
margin-bottom: 20px;
}
.herobtn{
    background: linear-gradient(134deg, #EB001B -43.28%, #F79E1B 97%);
    border-radius: 5px;
    padding: 5px 15px;
    border: 2px solid #FF5F00;
    cursor: pointer;
    width: 250px;
height: 50px;
}
.herobtn a{
    color: #FFFFFF;
    text-decoration: none;
}
.herobtn:hover{
    background: #FF5F00;
box-shadow: 0px 6px 25px rgba(255, 95, 0, 0.4);
border-radius: 5px;
}
.heroimg{
width: 100%;
}

/* card samples section styling */
.cardsamples{
    margin: 100px;
}
.cardsamples img{
    width: 100%;
}

/* Card Collection Section Styling */
.card-collection h2{
    display: flex;
    align-items: center;
    justify-content: center;
    font-style: normal;
font-weight: 700;
font-size: 28px;
line-height: 42px;
color: #0F0F0F;
margin-bottom: 30px;
}
.collection-content{
    display: flex;
    align-items: center;
    justify-content: center;
}
.card-collection .card{
    width: 25%;
background: #F8F8F8;
border-radius: 10px;
margin-left: 30px;
padding: 0 10px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-between;
margin-bottom: 50px;
}
.bluecard{
    margin: 10px 0;
    width: 100%;
}
.cardimg{
    width: 100%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cardimg .front{
    width: 100%;
    cursor: pointer;
}
.cardbtn{
    display: flex;
    align-items: center;
    justify-content: center;
}
.cardbtn img{
    margin-right: 10px;
    margin-bottom: 30px;
    cursor: pointer;
}
.cardbtn span{
    margin-right: 50px;
    margin-bottom: 30px;
}
.cardbtn .last-span{
    margin-right: 0;
}
.card .herobtn{
    margin-bottom: 20px;
    width: 220px;
height: 60px;
}
.hr{
    width: 100%;
    height: 1px;
    background-color: #C2C2C2;
    margin-bottom: 30px;
}
.back{
    display: none;
    width: 100%;
    margin: 12px 0;
}
.cardimg:hover .front{
    display: none;
}
.cardimg:hover .back{
    display: block;
}

 /* footer section styling */
 footer{
    background-color: #202326;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 100px;
 }
 footer h3{
    font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 30px;
text-align: center;
width: 800px;
margin: 20px 0;
color: rgba(255, 255, 255, 0.75);
 }
 footer .hero-nav a{
    color: rgba(255, 255, 255, 0.75);
 }
 .socials a{
    text-decoration: none;
 }
 .socials img{
    margin: 20px 10px;
 }
 .socials img:hover{
    transform:rotateX('angle');
 }
 footer h5{
    font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 18px;
color: rgba(255, 255, 255, 0.75);
margin-top: 50px;
 }